<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>projectile.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{128,128}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{128,128}}</string>
			<key>sourceSize</key>
			<string>{128,128}</string>
		</dict>
		<key>hero_01.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,260},{126,128}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,0},{126,128}}</string>
			<key>sourceSize</key>
			<string>{128,128}</string>
		</dict>
		<key>hero_02.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,132},{126,128}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{1,0},{126,128}}</string>
			<key>sourceSize</key>
			<string>{128,128}</string>
		</dict>
		<key>hero_03.png</key>
		<dict>
			<key>frame</key>
			<string>{{132,2},{122,126}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3,1},{122,126}}</string>
			<key>sourceSize</key>
			<string>{128,128}</string>
		</dict>
		<key>hero_04.png</key>
		<dict>
			<key>frame</key>
			<string>{{132,130},{120,126}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4,1},{120,126}}</string>
			<key>sourceSize</key>
			<string>{128,128}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>atlas-ipad.png</string>
		<key>size</key>
		<string>{256,512}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:4bdb8f2807582939d66822820bd32c04$</string>
		<key>textureFileName</key>
		<string>atlas-ipad.png</string>
	</dict>
</dict>
</plist>
