<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>projectile.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{256,256}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{256,256}}</string>
			<key>sourceSize</key>
			<string>{256,256}</string>
		</dict>
		<key>hero_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,514},{252,256}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,0},{252,256}}</string>
			<key>sourceSize</key>
			<string>{256,256}</string>
		</dict>
		<key>hero_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,260},{252,256}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{2,0},{252,256}}</string>
			<key>sourceSize</key>
			<string>{256,256}</string>
		</dict>
		<key>hero_3.png</key>
		<dict>
			<key>frame</key>
			<string>{{260,2},{242,252}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{7,2},{242,252}}</string>
			<key>sourceSize</key>
			<string>{256,256}</string>
		</dict>
		<key>hero_4.png</key>
		<dict>
			<key>frame</key>
			<string>{{260,256},{238,252}}</string>
			<key>offset</key>
			<string>{1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{10,2},{238,252}}</string>
			<key>sourceSize</key>
			<string>{256,256}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>atlas-ipadhd.png</string>
		<key>size</key>
		<string>{512,1024}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:129a707684990a5d2cebe6a712bc2ab5$</string>
		<key>textureFileName</key>
		<string>atlas-ipadhd.png</string>
	</dict>
</dict>
</plist>
