<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>walkingAnim</key>
	<dict>
		<key>animationFrames</key>
		<string>1,2</string>
		<key>delay</key>
		<real>0.2</real>
		<key>filenamePrefix</key>
		<string>hero_</string>
	</dict>
	<key>idleAnim</key>
	<dict>
		<key>animationFrames</key>
		<string>3,4</string>
		<key>delay</key>
		<real>0.2</real>
		<key>filenamePrefix</key>
		<string>hero_</string>
	</dict>
</dict>
</plist>
